body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #111;
  color: #eee;
}

.app-router{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-app{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  background-color: #111;
}
.app-routes{
  display: flex;
}



.header-button-search{
  background-color: #f9d342;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #111;
  font-weight: bold;
  cursor: pointer;
}

.header-title{
  color: #f9d342;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.app-footer {
  background-color: #111;
  color: #eee;
  padding: 20px;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  margin-top: 10px;
}

.footer-nav a {
  color: #eee;
  margin: 0 10px;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.header-home{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 10px 20px;
}




