.index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #181818; /* Fondo oscuro */
    color: #ccc; /* Color del texto */
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    padding: 20px;
    width: 80%;
}

.index-title {
    font-size: 3rem; /* Tamaño grande para el título */
    margin-bottom: 1rem;
}



.index-principal-button:hover {
    background-color: #d4a017; /* Color de fondo amarillo menos chillón */
}

.index-buttons-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.index-button{
    background-color: inherit;
    color: #f9d342;
    text-decoration: underline;
    text-underline-offset: 4.5px; 
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-size: 15px;
    text-decoration: underline;
}

.index-principal-button {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border: none;
    color: #111; /* Color del texto blanco */
    background-color: #f9d342; /* Color de fondo amarillo más chillón */
    transition: background-color 0.3s ease; /* Transición suave para el fondo */
}