* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  
}

#root{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;  
}
