.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ccc;
    height: 100vh; 
    padding: 20px;
}

.not-found h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.not-found p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.notfound-gohome-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d4a017;
    border: 1px solid #d4a017;
    border-radius: 5px;
    color: #111;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.notfound-gohome-button:hover {
    background-color: #f9d342;
}